.main-window {
    -fx-min-width: 600px;
    -fx-min-height: 300px;
    -fx-pref-width: 1500px;
    -fx-pref-height: 900px;
}

.point-list-scroll {
    -fx-max-width: 315px;
    -fx-min-width: 315px;
    -fx-pref-width: 315px;
}

.point-list {
    -fx-min-height: 1;
}