.point-input {
    -fx-min-height: 80px;
    -fx-max-height: 80px;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-background-color: #ececec;
    -fx-border-color: #a5d1f3;
    -fx-border-width: 2 2 2 0;
    -fx-alignment: center-left;
}

.point-input__fields-container {
    -fx-spacing: 10;
    -fx-padding: 0 0 0 10;
    -fx-alignment: center;
}

.point-input__position-fields-container {
    -fx-spacing: 26;
    -fx-alignment: center;
}

.point-input__name-field-container {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.point-input__name-field {
    -fx-pref-column-count: 17;
}

.point-input__position-field {
    -fx-pref-column-count: 6;
    -fx-alignment: center-right;
}

.point-input__color-picker {
    -fx-max-width: 0;
    -fx-max-height: 0;
    visibility: hidden;
}